[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "OpenMindat"]
	path = OpenMindat
	url = https://github.com/quexiang/openmindat
